@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, html {
    height: 100%;
}

body {
    background: linear-gradient(112deg, #7e1fff 22%, #6001d2 22%);
    color: white;
    font-family: "Roboto", sans-serif;
}

#yahoo-logo {
    height: 55px;
    top: 24px;
}

.navbar-brand {
    margin-right: auto;
}

.icon {
    color: white;
    height: 20px;
    width: 20px;
    padding: 6px;
    border-radius: 100px;
    background-color: #20212433;
    margin-right: 32px;
}

ion-icon:hover, .component:hover {
    cursor: pointer;
}

#greeting, #date {
    text-align: center;
}

#greeting {
    font-size: 40px;
    margin-top: 80px;
}

#date {
    font-size: 14px;
    margin-top: 8px;
}

#overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #00000066;
    z-index: 9999;
    pointer-events: none;
}

#searchbar, #autocomplete {
    z-index: 10000;
    position: relative;
}

#searchbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 680px;
    height: 3.5rem;
    margin: 30px auto 0;
    background-color: white;
    border-radius: 100vw;
    border: 1px solid #e0e4e9;
    box-shadow: 0 1px 2px 0 #00000061;
}

#search {
    display: block;
    height: 3.5rem;
    width: 75%;
    border: none;
    font-size: 1.3rem;
    background-color: #00000000;
    color: #525252;
}

#autocomplete {
    cursor: default;
    margin: 0 auto;
    max-width: 680px;
    height: 338px;
    background-color: white;
    border-radius: 0 0 16px 16px;
}

.result-container {
    display: flex;
    vertical-align: auto;
    color: #000000;
    width: 100%;
    height: 32px;
    padding: 5px 2.5%;
    font-size: 1rem;
    border-left: 2px solid #00000000;
}

.result-container:hover {
    border-left-color: #4884f4;
    background-color: #f0f3f5;
}

.result {
    margin-left: 20px;
}

input:focus {
    outline: none;
}

.hidden {
    opacity: 0;
    cursor: default !important;
}

#mic-container {
    border-left: 1px solid #e0e4e9; 
    padding-left: 20px;
    height: 20px;
}

#mic, #close {
    z-index: 99999;
}

#mic {
    color: #4884f4;
    font-size: 1.25rem;
    text-align: right;
}

footer {
    display: flex;
    justify-content: center;
    margin: 10px;
    vertical-align: middle;
    font-size: 0.75rem;
}

footer a {
    text-decoration: none;
    color: #ffffff;
    margin-left: 20px;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

footer span {
    margin-left: 5px;
}
